@model RoleClaimsViewModel

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Administration</h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Administration</a>
                        </li>
                        <li>
                            <a href="#">Role permissions</a>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <form asp-controller="Role" asp-action="ManageRoleClaims" method="post">
                        <div class="card">
                            <div class="card-header">
                                <h2>Role permissions</h2>
                            </div>
                            <div class="card-body">
                                <input type="checkbox" name="select-all" id="select-all" />
                                <label class="form-check-label">Select all</label>
                                @for (int i = 0; i < Model.Claims.Count; i++)
                                {
                                    <div class="form-check m-1">
                                        <input type="hidden" asp-for="@Model.RoleId" />
                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimValue" />
                                        <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
                                        <label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
                                            @Model.Claims[i].ClaimType
                                        </label>
                                    </div>
                                }
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                            <div class="card-footer">
                                <input type="submit" class="btn btn-primary" style="width:auto" value="Save" />
                                <a asp-action="Roles" class="btn btn-primary" style="width:auto">
                               Cancel
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>



        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer">
        2022 © Sintra.
    </footer>

</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#select-all').click(function (event) {
                if (this.checked) {
                    // Iterate each checkbox
                    $(':checkbox').each(function () {
                        this.checked = true;
                    });
                } else {
                    $(':checkbox').each(function () {
                        this.checked = false;
                    });
                }
            });
        });
    </script>

}

