@model IEnumerable<Product>

<link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Administration</h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Administration</a>
                        </li>
                        <li>
                            <a href="#">Products</a>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="m-b-30">
                        <button id="addToTable" data-toggle='modal' onclick="emptydata()"
                                data-target='#editmodal'
                                class="btn btn-default waves-effect waves-light">
                        Add <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table id="datatable-editable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Accessories</th>
                                    <th></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>

            <div id="editmodal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="form-group">
                            <select id="accessoryId" class="form-control">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="savebtn" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>


        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer">
        2022 © Sintra.
    </footer>

</div>


@section Scripts{

    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap.js"></script>

    <script name="datatable" type="text/javascript">
        var refreshdata = function () {
            var table = $('#datatable-editable').DataTable({
                destroy: true,
                ajax: {
                    url: document.location.origin + '/Product/GetProductAccessoriesByProductId?id=' + @ViewBag.Id,
                    dataSrc: 'data',
                },
                columns: [
                    { data: "parent.name", name: "Product Name" },
                    { data: "accessory.name", name: "Accessory Name" },
                    { data: "actions", name: "actions" }
                ]
            });
        }

        var emptydata = function () {
            document.getElementById("id").value = "";
            document.getElementById("accessoryId").value = "";
        }
        refreshdata();

    </script>


    <script name="geteditdata">
        $(document).ready(function () {
            $(document).on("click", ".editlink", function () {
                $('#productId').hide();
                $('.modal-content').addClass('d-none')
                $('#modalspinner').remove();
                emptydata();
                clickedId = $(this).attr("id")
                $.ajax(
                    {
                        url: document.location.origin + '/Product/GetProductAccessory?id=' + @ViewBag.Id + '&productId=' + clickedId,
                        type: 'GET',
                        data: "",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            console.log(data)
                            $('#id').val(clickedId);
                            $('#productId').val(data.data.productId);
                            $('#balance').val(data.data.balance);

                            $('#modalspinner').remove();
                            $('.modal-content').removeClass('d-none')
                        },
                        error: function () {
                            alert("error");
                        }
                    });
            });
        })
    </script>

    <script name="delete">
        $(document).ready(function () {
            $(document).on("click", ".deletelink", function () {
                if (confirm('Are you sure you want to delete this accessory from the product?'))
                    clickedId = $(this).attr("id")
                    $.ajax({
                    url: document.location.origin + '/Product/DeleteProductAccessory?id=' + @ViewBag.Id + '&accessoryId=' + clickedId,
                    type: 'DELETE',
                    success: function (result) {
                        refreshdata();
                    }
                });

            });
        })
    </script>

    <script name="addoredit">
        $(document).ready(function () {
            $(document).on("click", "#savebtn", function () {
                var command = { parentId: @ViewBag.Id, accessoryId: $('#accessoryId').val() }
                var url = '@Url.Action("AddProductAccessory", "Product")'
                $.ajax({
                    url: url,
                    type: "post",
                    contentType: 'application/x-www-form-urlencoded',
                    data: command,
                    success: function (data) {
                        refreshdata();
                        $('#editmodal').modal('hide')
                    },
                    error: function () {
                        alert("error");
                    }
                });
            });
        })
    </script>

}